:root{
    --colorBlue :#458FF6;
    --colorBlack :#000;
    --colorWhite:#fff;
    --fontMullish:'Mulish', sans-serif;
    --color-link:#1F1534;
    --logoTextcolor:#233348;
    --colorCardText:#7D7987;

}