footer{
    position: relative;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.footer-icon{
    position: absolute;
    bottom: 0;left: 0;
}

.footer{
    padding:70px 50px;
    display: flex;  
}
.footer-left{
    display: flex;
    flex: 3;
    flex-direction: column;
    
}
.footer-left-logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 23px;
}
.footer-left-logo p{
    margin-left: 12px;
    font-family: var(--fontMullish);
    font-weight: 700;
    font-size: 24px;
    color: var(--colorWhite);
}

.footer-left-text{
    font-family: var(--fontMullish);
    font-weight: 300;
    font-size: 18px;
    color: var(--colorWhite);
    margin-bottom: 34px;
    line-height:28px;
}
.copy{
    font-family: var(--fontMullish);
    font-size: 16px;
    font-weight: 300;
    color: var(--colorWhite);
}
.footer-right{
    display: flex;
    justify-content: space-around;
    flex: 5;
}

.company{
    display: flex;
    flex-direction: column;
}
.company h5{
    font-family: var(--fontMullish);
    font-weight: 700;
    font-size: 20px;
    color: var(--colorWhite);
    margin-bottom: 35px;
}

.company a{

    font-family: var(--fontMullish);
    font-weight: 300;
    color: var(--colorWhite);
    font-size: 18px;
    margin-bottom: 20px;
}