* {
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}
.container {
  width:calc(100vw - 224px);
  margin: 0 auto;
}

header {
  height: 78px;
}
.header {
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding:0 100px;
  z-index: 999;
  
}
.logo {
  display: flex;
  align-items: center;

}
.logo img {
  width:44px;
  height: 41px;
  margin-right: 13px;
}

.logo-name {
  color: var(--logoTextcolor);
  font-family: var(--fontMullish);
  font-weight: 700;
  font-size: 24px;
  animation-name:logo ;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 30px;
}
.nav-item:not(:last-child) {
  margin-right: 43px;
}

.nav-link {
  color: var(--colorLink);
  font-family: var(--fontMullish);
  font-weight: 400;
  font-size: 18px;
  opacity: 0.5;
  transition: all 0.5s;
}
.nav-link:hover {
  opacity: 1;
}
.nav-item:first-child .nav-link {
  font-family: var(--fontMullish);
  font-weight: 700;
  opacity: 1;
}
